/* importar tipografia */

*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    text-align: center;
    padding: 120px 0;
    background: black;
    min-height: 100%;

}

h1{
    color: aqua;
    font-size: 50px;

}

h2{
    color: aqua;
    font-size: 34px;
    margin: 20px 0;
}

p{
    color: #fff;
    font-size: 22px;
}

#cont-botones{
    width: 80%;
    margin: 50px auto;
}

button{
    padding: 14px 30px;
    background: transparent;
    border: 2px solid aqua;
    color: aqua;
    margin: 10px;
    transition: .4s;
    cursor: pointer;
}

button:
